/* font import  */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

/* Variable Css */
:root {
  /* color  */
  --font-size-22: 22px;
  --font-size-54: 54px;
  --font-size-67: 67px;

  --title-color-92b: #2b292b;
  --text-color-c34: #403c34;
  --text-color-435: #ac8435;
  --libre-font: "Libre Baskerville", serif;
  --source-font: "Source Sans Pro", sans-serif;

  /* Margenes Bottom  */
  /* .25rem= 4px, .5rem = 8px, .75rem = 12px  */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-5: 5rem;
}

/* =================BASE===============  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  background-color: #f7f2e9;
}

/* ==============  nav details ============ */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--text-color-c34);
  line-height: 64px;
  font-size: 18px;
  font-family: var(--source-font);
  color: white;
  padding: 0 220px;
}

.details_list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}
.details_list_item {
  padding-right: 20px;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
.details_list_item span {
  text-decoration: underline;
  padding-left: 5px;
}
.details_list_item i {
  font-size: 18px;
  margin-right: 4px;
  transform: translateX(90);
}

/* =============== nav 2 ============== */
.nav_menu {
  background-color: white;
  position: fixed;
  /* top: -100px; */
  left: 0;
  right: 0;
  transition: top 0.3s;
  display: flex;
  justify-content: space-between;
  padding: 0 220px;
}
.nav_menu .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_menu ul a {
  color: black;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
}

.nav_menu .menu .nav_list {
  padding-left: 20px;
}

/* nav drop down  */
.dropdown-nav_menu {
  list-style: none;
  display: none;
  opacity: 0;
  top: 100%;
  /* left: 0; */
  z-index: 1;
  background-color: #fff;
  position: absolute;
}
.dropdown-nav_menu li {
  font-size: 18px;
}

.dropdown:hover .dropdown-nav_menu {
  display: block;
  opacity: 1;
  font-family: var(--source-font);
}

.nav_menu .search {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.nav_menu .search li {
  padding-right: 20px;
  font-family: var(--source-font);
}

/* =======REUSABLE CSS CLASSES====== */
.section {
  padding: 13.5rem 0 30rem;
}
.section_title {
  font-size: var(--title-size);
  font-family: var(--libre-font);
  color: var(--title-color);
  margin-bottom: var(--mb-1-5);
}
.section_subtitle {
  font-family: var(--source-font);
  font-size: 28px;
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.color_subtitle {
  font-family: var(--libre-font);
  font-size: 18px;
  font-weight: bold;
}

/* ======LAYOUT ======= */
.container {
  margin: 0 220px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* =================  home  ================== */

.home_container {
  grid-template-columns: 50% 50%;
}

/*================ home conatiner left side ============= */

.home_container .home_left {
  margin: var(--mb-5) 0;
}

.home_left h3:nth-child(1) {
  font-family: var(--libre-font);
  font-size: var(--font-size-22);
  color: var(--text-color-c34);
  margin-top: var(--mb-3);
}
.home_container .home_banner {
  font-size: var(--font-size-67);
  font-weight: bold;
  font-family: var(--libre-font);
  margin: var(--mb-2-5) 0 var(--mb-3);
  color: var(--title-color-92b);
}

.home_sub {
  grid-template-columns: 2fr 0.1fr 2fr;
  color: var(--text-color-435);
  font-weight: bold;
  margin-bottom: var(--mb-2);
}
.home_sub span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
}

.home_text {
  font-size: 22px;
  font-family: var(--source-font);
  padding-right: var(--mb-0-25);
  padding-right: 14rem;
  line-height: 34px;
  font-weight: 400;
}

/*===========  home button ============ */
.home_left_button {
  margin-top: 40px;
}
.btnleft {
  background-color: var(--text-color-435);
  border-radius: 4px;
  border: none;
  color: white;
  padding: 16px 40px;
  box-shadow: 0px 4px 6px rgba(211, 181, 120, 0.32);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 23px;
}
.btnright {
  background: transparent;
  color: var(--text-color-c34);
  border: 1px solid var(--text-color-c34);
}

/* ============ home container right side =============== */
.home_right {
  position: relative;
  background-size: cover;
  box-sizing: border-box;
}

.home_right .img_background {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  z-index: -1;
  height: auto;
}

.img_bac {
  width: 100%;
}
.home_right .img_front {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}
.img_front2nd {
  width: 100%;
}

/* ============= Quotes =========== */
.quotes {
  background-color: white;
  padding-top: 80px;
  background-image: url("/ecommerce/photos/quotesbackground.png");
  background-size: cover;
  background-position: center;
}
.quote {
  padding: 0 200px;
}
.quotes i {
  font-size: 64px;
  color: var(--title-color-92b);
}

.qt {
  position: relative;
  text-align: center;
  font-family: var(--libre-font);
  font-size: var(--font-size-54);
  color: var(--title-color-92b);
  text-transform: capitalize;
}
.qt .top-i {
  left: 5%;
  top: -25%;
  position: absolute;
}
.qt .bottom-i {
  right: 0;
  position: absolute;
}

.quotes .quote_icon {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quotes_dot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--mb-3) 0;
}
.quotes_dot div {
  margin-left: 20px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #f7f2e9;
  border-radius: 50%;
}
.quotes_dot div:nth-child(1) {
  background-color: #ac8435;
}

/* ========== offer cart =========== */

.all_offer {
  grid-template-columns: repeat(3, 1fr);
}

.offer1 {
  background-image: url("/ecommerce/photos/Frame 12.png");
  background-size: cover;
  background-position: center;
}
.offer2 {
  background-image: url("/ecommerce/photos/Frame 13.png");
  background-size: cover;
  background-position: center;
}
.offer3 {
  background-image: url("/ecommerce/photos/Frame 14.png");
  background-size: cover;
  background-position: center;
}

.offer_h {
  font-family: var(--libre-font);
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  color: #ffffff;
  padding: 3rem 6rem 0 5rem;
}

.offer_m {
  padding: 3rem 6rem 0 5rem;
  font-family: var(--libre-font);
  font-weight: 300;
  font-size: 26px;
  line-height: 120%;
  /* or 67px */
  color: #ffffff;
  text-transform: capitalize;
}
.all_offer p {
  padding: 8rem 6rem 3rem 5rem;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  /* or 34px */
text-transform: capitalize;
  letter-spacing: 0.04em;

  color: #ffffff;
}
